



body{
    background-color: rgb(2, 2, 2);
   
}

/* shared styles */

.text-color{
    color: #FFFFFF;
}

.description{
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary{
    padding: 16px 45px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.12rem;
    border-radius: 40px;
    background-color: black;
    border: 1px solid white;
    margin-top: 25px;
    margin-right: 15px;
}

.btn-bg-color{
    background-color: #E6533C;
    border: none;
}

/* design nav bar  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
}

.navbar-title{
    font-weight: 800;
    font-size: 2.25rem;
    color: #E6533C;
    font-style: italic;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    color: #FFFFFF;
    font-size: 1.12rem;
}

nav ol{
    display: none;
}

.btn-home{
    padding: 10px 20px;
    border-radius: 45px;
    font-weight: 600;
    font-size: 1.12rem;
    color: #FFFFFF;
    margin-top: -10px;
}

/* design banner related section  */
.banner-section{
    display: flex;
    gap: 150px;
    background: linear-gradient(rgba(17, 17, 17, 1), rgba(119, 119, 119, 0));
    box-shadow: 0px 0px rgba(162, 157, 157, 0.25);
    border-radius: 10px;

}

.banner-first-column{
    max-width: 600px;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 80px 120px;
}

.banner-title{
    font-weight: bold;
    font-size: 4.9rem;
    margin: 0px 0px 25px 0px;
}

.banner-second-column{
    max-width: 350px;
    max-height: 580px;
    padding-right: 210px;
}

.banner-container{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.box-1{
    max-height: 96px;
    max-width: 210px;
    display: flex;
    background-color: rgba(48, 48, 48, 0.28);
    box-shadow: 0px 0px 20px rgba(99, 98, 98, 0.1);
    border-radius: 12px;
    margin-top: -150px;
    margin-left: -100px;
}

.box-btn{
    padding: 20px;
    background-color: #E6533C;
    border-radius: 100px;
    border: none;
    margin: 30px 12px 30px 25px;
}
.box-title{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.box-2{
    max-height: 96px;
    max-width: 210px;
    padding: 10px 24px;
    background-color: rgba(48, 48, 48, 0.28);
    box-shadow: 0px 0px 20px rgba(99, 98, 98, 0.1);
    border-radius: 12px;
    margin-top: -430px;
    margin-right: -100px;
}

/* design habits related section */

.habits{
    margin: 80px 120px;
}

.habit-first-colum{
    text-align: center;
    max-width: 670px;
    margin: 0 auto;
}
.habit-title{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0px;
}

.habit-second-colum{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
    padding-top: 50px;
    
}

.card{
    max-width: 240px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.card img{
    border-radius: 100px;
    box-shadow: 2px 0px 5px 2px rgb(89, 87, 87);
}



/* design run related section */

.run-easily{
    margin: 0px 120px;
}
.run-container{
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 20px;
    box-shadow: 2px 0px 5px 2px rgb(89, 87, 87);
}

.run-first-colum{
    max-width: 450px;
}
.run-title{
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: ;
    margin: 0px;
}
.run-second-colum img{
    max-width: 370px;
    max-height: 320px;
    border-radius: 20px;
}



/* design BMI related section */



.bmi-header{
    max-width: 600px;
    margin: 0  auto;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.bmi-title{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
}
.bmi-section{
    margin: 80px 0px;
}

.table-list{
    display: grid;
    grid-template-columns: 150px 150px;
    color: rgba(255, 255, 255, 0.5);

}

.bmi-table{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 15px;
}


.form{
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    gap: 150px;
    padding: 50px 150px;
    justify-content: center;

}

.form-title{
    font-weight: 700;
    font-size: 1.5rem;
}
.form-second-column input{
    padding: 10px 90px 10px 10px ;
    margin: 0px 20px 20px 0px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

input:focus{
    color: #FFFFFF;
}

/* design team related section */

.our-team{
    margin: 50px 120px;
}
.team-header{
    text-align: center;
    padding-bottom: 50px;

}
.team-title{
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.team-trainer img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.team-trainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    gap: 20px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 10px;
}


/* design footer section */

footer{
    background-color: rgba(34, 34, 34, 1); 
}

.footer-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 120px;
    gap: 200px;
}

.second-title{
    font-weight: 700;
    font-size: 2rem;
}
.footer-section li{
    list-style: none;
}

.list-size{
    font-size: 1.2rem;
}

.hr{
    margin: 0px 120px 50px 120px;
    text-align: center;  
}

.center{
    padding: 30px 0px;
}


@media screen and (max-width:576px) {
    header,
    .run-easily{
        margin: 0px 10px;
    }
    .habits{
        margin: 80px 10px;
    }
    .habit-second-colum, 
    .team-trainer,
    .footer-section{
        grid-template-columns: repeat(1, 1fr);

    }
    .banner-section{
        flex-direction: column;
        margin: 0px 0px;
        gap: 50px;
    }
    .navbar, 
    .banner-second-column{
        margin: 0px;
        padding-right: 0px;
        gap: 50px;
    }
    .banner-title{
        font-size: 3.5rem;
    }
    .box-1{
        margin-top: -250px;
        margin-left: 0px;
    }
    .box-2{
        margin-right: -40px;
        margin-top: -550px;
    }

    .banner-first-column{
        padding: 0px 0px;
    }
    .btn-primary{
        padding: 10px 20px;
    }
    nav ul{
        display: none;
        
    }
    nav ol{
        display: inline;
    }
    .run-container{
        flex-direction: column;
        padding: 32px;
    }
    .text-align{
        padding: 16px 103px;
        margin-left: 20px;
    }

    .run-second-colum{
       margin-top: -50px;
    }
    .form,
    .footer-section{
        flex-direction: column;
        padding: 20px;
        gap: 50px;  
    }
    .hr{
        margin: 0px 20px;
    }
    .our-team{
        margin: 80px 20px;
    }

}